<div class="content" role="main">
  <h2 style="color: red;">MetHotels</h2>
  <div class="container mt-4 mb-4">
    <div class=" mb-5">
      <h3>Pretraga</h3>
      <input [(ngModel)]="searchText" placeholder="Cena" />
    </div>
    <ul *ngFor="let smestaj of smestajs | filterPipe: searchText; index as i">
      <h5>Smestaj - {{ smestaj.title }}</h5>
      <p>Cena: {{ smestaj.price }}€</p>
    </ul>
    <button type="button" class="btn btn-primary" (click)="changeOrder()">
      Izmesaj
    </button>
  </div>
</div>
